.basic__button {
    width: 260px;
    height: 50px;
    border-radius: 30px;
}
.white{
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
