.iaCardButton {
    width: 150px;
    height: 160px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: none;
    background: linear-gradient(225.11deg, rgba(175, 175, 175, 0.48) -45.3%, rgba(234, 232, 232, 0) 113.39%);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 15px;

    .iaCardButton__list {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        padding: 10px;

        .iaCardButton__list--img {
            img {
                width: 60%;
                border-radius: 100px;
            }
        }

        .iaCardButton__list--title {
            h1 {
                font-family: $mainFont;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 15px;
                text-align: center;

                color: #000000;
            }
        }

        .iaCardButton__list--description {
            h2 {

                font-family: $mainFont;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                text-align: center;

                color: #777777;
            }
        }
    }
}