.iaCardButton {
    width: 150px;
    height: 160px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    .iaCardButton__list {
        width: 90%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

        .iaCardButton__list--img {
            img {
                width: 60%;
                border-radius: 100px;
            }
        }

        .iaCardButton__list--title {
            h1 {
                font-family: $mainFont;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                text-align: center;

                color: #000000;
            }


        }
    }
}