.iaCardButton {
    width: 150px;
    height: 160px;
    border-radius: 15px;

    .iaCardButton__list {
        width: 90%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

        .iaCardButton__list--img {
            img {
                width: 60%;
                border-radius:100px;
            }
        }
    }
}