.button__next{
    display: flex;
    width: auto;
    min-width: 100px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background: $mainColor;
    color: $mainTextColor;
    padding: 0 0 0 30px;
    .button__next--Arrow{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $mainTextColor;
        border-radius: 100px;
        .next__arrow--h1{
            color: $mainColor;
        }
    }
    
}