.button__next {
    display: flex;
    width: auto;
    min-width: 100px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background: black;
    color: white;
    border-radius: 100px;
    padding: 0 0 0 30px;
    box-shadow: 5px 5px 10px 0px black;
    cursor: pointer;
    font-family: $mainFont;
    

    .button__next--Arrow {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $mainTextColor;
        border-radius: 100px;
        margin-left: 10px;

        .next__arrow--h1 {
            padding: 10px;
            color: $mainColor;
            font-family: $mainFont;
        }
    }

}