.optionButton {
    height: 60px;
    width: auto;
    border: none;
    background: linear-gradient(235.8deg, #D9D9D9 5.2%, rgba(217, 217, 217, 0) 144.41%);
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}