.dashFooter {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    backdrop-filter: blur(4px);
    .dashFooter__nav{
        width: 100%;
        .dashFooter__nav--list{
            display: flex;
            list-style: none;
            .dashFooter__list--item{
                button{
                    background: transparent;
                    border: none;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

}