.dashFooter {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    backdrop-filter: blur(4px);

    .dashFooter__nav {
        width: 100%;

        .dashFooter__nav--list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;

            .dashFooter__list--item {
                padding: 10px;

                .dashFooter__list--blueC {
                    width: 80px;
                    height: 80px;
                    border: 2px solid blue;
                    border-radius: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #FFFFFF;
                    position: relative;
                    bottom: 50px;
                    

                    button {
                        background: transparent;
                        border: none;

                        img {
                            width: 40px;

                        }
                    }

                }

                button {
                    background: transparent;
                    border: none;

                    img {
                        width: 40px;

                    }
                }
            }
        }
    }

}