.dasHeader{
    width: 100%;
    height: 60px;
    display: flex;
    .dasHeader__img{
        width: 35px;
        height: 35px;
        object-fit: cover;
    }
    .dasHeader__button{

    }
    .dasHeader__user--container{
        .dasHeader__user--img{
            width: 30px;
            height: 30px;
        }
    }
}