.brand{
    width: 100%;
    min-height: 500px;
    display: flex;
    background: black;
    border-radius: 0 0 100px 100px;
    box-shadow: 6px 6px 20px 3px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
  .brand__img{
    object-fit: cover;
  }
}

@media screen and (min-width: 1024px) {
  .brand{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    border-radius: 500px;
    background-image: url('../../../public/img/Ellipse.png');
  }
}