.carrousel {
    width: 300px;
    display: flex;
    justify-content: center;
    .slider {
        height: auto;
        width: 200%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .carrousel__list {
            list-style: none;
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            .carrousel__list--item {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .carrousel__item--title {
                    text-align: center;
                    margin-bottom: 30px;
                }

                .carrousel__item--parragraph {
                    padding: 0 30px;
                    text-align: center;
                }
            }
        }

    }
}