.carrousel{
    width: 100%;
    height: 150px;
    min-width: 300px;
    display: flex;
    .carrousel__list{
        list-style: none;
        display: flex;
        width: 100%;
        .carrousel__list--item{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .carrousel__item--title{
                margin-bottom: 30px;
            }
        }
    }
}