.carrousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .slider {
        position: relative;
        display: flex;
        width: 200%;
        height: 100%;
    }
    .carrousel__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        .carrousel__list--item {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .carrousel__item--title {
                text-align: center;
                margin-bottom: 30px;
            }
            .carrousel__item--parragraph {
                padding: 0 30px;
                text-align: center;
            }
        }
    }
}