.carrousel{
    max-width: 500px;
    height: 150px;
    min-width: 300px;
    overflow: hidden;
    .carrousel__list{
        list-style: none;
        position: relative;
        display: flex;
        width: 200%;       
        .carrousel__list--item{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .carrousel__item--title{
                margin-bottom: 30px;
            }
            .carrousel__item--parragraph{
                padding: 0 10px;
                text-align: center;
            }
        }
    }
}