.basicInput {
    width: 260px;
    height: 50px;
    border-radius: 30px;
    padding-left: 15px;
    box-shadow: 3px 3px 11px 0px black;
    // letter style:
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: start;
    color: #848484;
    
}