.basicInput {
    width: 260px;
    height: 50px;
    border-radius: 30px;
    padding-left: 10px;
    // letter style:

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #848484;
}