.dashMain {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .dashMain__banner {
        width: 100%;
        height: 170px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        background-image: url('../../public/img/manos.png');

        .dashMain__title {
            display: flex;
            flex-direction: column-reverse;
            align-self: end;
            width: 50%;
            height: 100%;
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            align-items: baseline;
            padding: 18px;
        }
    }

    .dashMain__section {
        width: 100%;

        .dashMain__specialist--title {
            font-family: $mainFont;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 19px;
            text-align: start;
            margin-top: 30px;
            margin-left: 30px;
            margin-bottom: 30px;
            color: #000000;

        }

        .dashMain__specialist--nav {
            width: 100%;
            height: 90px;
            overflow-y: hidden;
            overflow-x: scroll;
            scroll-behavior: smooth;

            .dashMain__specialist--list {
                width: 100%;
                display: flex;
                list-style: none;

                .dashMain__specialist--list :-webkit-scrollbar {
                    width: 0;
                }

                .dashMain__specialist--item {
                    margin: 0 30px;
                }
            }

        }

        .dashMain__ia--title {
            font-family: $mainFont;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 19px;
            text-align: start;
            margin-top: 30px;
            margin-left: 30px;
            margin-bottom: 30px;
            color: #000000;
        }

        .dashMain__ia--nav {
            width: 100%;
            height: 300px;
            border-radius: 60px;
            overflow-y: scroll;
            overflow-x: hidden;
            scroll-behavior: smooth;

            .dashMain__ia--list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                align-items: center;
                justify-content: center;

                .dashMain__ia--item {
                    margin: 10px;
                }
            }
        }


        .dashMain__testimonials--title {
            font-family: $mainFont;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 19px;
            text-align: start;
            margin-top: 30px;
            margin-left: 30px;
            margin-bottom: 30px;
            color: #000000;
        }

        .dashMain__testimonials--nav {
            width: 100%;
            height: 300px;
            border-radius: 60px;
            overflow-y: scroll;
            overflow-x: hidden;
            scroll-behavior: smooth;

            .dashMain__testimonials--list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                align-items: center;
                justify-content: center;

                .dashMain__testimonials--item {
                    margin: 10px;
                }
            }
        }

    }

}

@media screen and (min-width: 1024px) {
    .dashMain {
        .dashMain__banner {
            background-image: url('../../public/img/androide.jpg');
        }
    }
}