.dashboard{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .dashMain__banner{
        width: 100%;
        height: 170px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        background-image: url('../../public/img/manos.png');
        
        .dashMain__title{
            color: white;
        }
    }
    
}