@import '../components/buttons/basicButton'
.Draft{
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}