.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .loginForm {
        background: rgba(255, 255, 255, 0.77);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
        width: 315px;
        height: 415px;
    }
}