.signUp {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-image: url('../../public/img/blackBg1090px.png');


    .signUp__title--container {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 320px;
        height: 150px;

        .signUp__title--h1 {
            margin: 10px 0;
            font-family: $mainFont;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
        }

        .signUp__title--parragraph {
            font-family: $mainFont;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 17px;
        }
    }

    .signForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 550px;
        width: 320px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        .signForm__inputs--container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 350px;
        }

        .signForm__checkbox--container {
            width: 90%;
            margin: 5px 0;
            display: flex;
            align-items: center;
            justify-content: center;

            .signForm__checkbox--label {
                font-family: $mainFont;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                width: 90%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
        }

        .signForm__socialMedia--container {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;

            .signForm__socialMedia--title {
                font-family: $mainFont;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
            }

            .signForm__socialMedia--imgs {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 50%;
                flex-direction: row;
            }
        }

    }
    
    .signUp__container--label {
        margin-top: 20px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;

        color: #FFFFFF;
    }

}