@import '../components/headers/welcomeHeader';
@import '../components/carrousels/carrousel';
@import '../components/buttons/nextButton';


.welcome {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 8px 20px 7px black;
    justify-items: center;
    justify-content: space-between;

    .NavButtons {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        margin: 20px 0;

        .NavButtons__ancord {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.04em;
            font-family: $mainFont;
            color: #000000;
        }
    }
}