.WelcomeS{
    height: 100vh;
    background: linear-gradient(333.49deg, #000000 55.66%, rgba(217, 217, 217, 0) 92.17%);
    .WelcomeS__header {
        width: 100%;
        height: 50%;
        .WelcomeS__header--img{
            width: 350px;
            height: 450px;
            object-fit: cover;
            border-radius: 60px 0 60px 0 ;
        }
    }
}