@import '../components/headers/welcomeHeader';
@import '../components/carrousels/carrousel';
@import '../components/buttons/nextButton';


.welcome{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 8px 20px 7px black;
    justify-items: center;
    justify-content: space-between;
}